.nav{
    background: radial-gradient(circle, rgb(37, 36, 36) 0%, rgb(0, 0, 0) 70%);
    padding: 5px;
}
.enlaces{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titlePage{
    width: 100%;
    color: rgb(213, 213, 213);
}
.iconCart{
    width: 30px;
    height: 30px;
    margin: auto;
}

.body{
    min-height: calc(100vh - 101px - 105px);
    background-color: #373737;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 0H0v36h36V0zM15.126 2H2v13.126c.367.094.714.24 1.032.428L15.554 3.032c-.188-.318-.334-.665-.428-1.032zM18 4.874V18H4.874c-.094-.367-.24-.714-.428-1.032L16.968 4.446c.318.188.665.334 1.032.428zM22.874 2h11.712L20 16.586V4.874c1.406-.362 2.512-1.468 2.874-2.874zm10.252 18H20v13.126c.367.094.714.24 1.032.428l12.522-12.522c-.188-.318-.334-.665-.428-1.032zM36 22.874V36H22.874c-.094-.367-.24-.714-.428-1.032l12.522-12.522c.318.188.665.334 1.032.428zm0-7.748V3.414L21.414 18h11.712c.362-1.406 1.468-2.512 2.874-2.874zm-18 18V21.414L3.414 36h11.712c.362-1.406 1.468-2.512 2.874-2.874zM4.874 20h11.712L2 34.586V22.874c1.406-.362 2.512-1.468 2.874-2.874z' fill='%23919191' fill-opacity='0.06' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.button{
    color: #373737;
    background-color: rgb(213, 211, 214);
    border: solid 3px rgb(69, 108, 95);
    border-radius: 10px;
    display: flex;
    padding: 6px 16px;
    justify-content: center;
}
.button:hover{
    font-weight: 600;
    background-color: aquamarine;
    transition: background-color 2s;
}
.dropbtn {
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}

.btndisabled {
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    margin: auto 10px;
}
.pie {
    font-size: 1.6rem;
    background: radial-gradient(circle, rgb(37, 36, 36) 0%, rgb(0, 0, 0) 70%);
    flex-direction: column; }
  
  .footer_nav {
    flex-direction: row;
    margin-bottom: 8px; }
  
  .pie__titulo--md {
    color: white;
    padding: 10px 0;
    font-size: 1.8rem;
    text-align: center; }
  
  .pie__enlace--sm {
    padding: 0 30px;
    color: white;
    font-size: 1.4rem; }

    .pie__enlace--sm:hover {
      font-weight: 600;
      transition: all 0.2s; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
      
input[type=number] { -moz-appearance:textfield; }

.inicio{
    color: #373737;
    background-color: rgb(213, 211, 214);
    border: solid 3px rgb(69, 108, 95);
    border-radius: 10px;
    margin: 10px auto;
    padding: 6px;
    justify-content: center;
    font-weight: bolder;
}
.centroImg{
    text-align: -webkit-center;
}
.swal-text {
    text-align: center
  }