.nav{
    background: radial-gradient(circle, rgb(37, 36, 36) 0%, rgb(0, 0, 0) 70%);
}
.enlaces{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titlePage{
    width: 95%;
    color: rgb(213, 213, 213);
}
.iconCart{
    width: 30px;
    height: 30px;
    margin: auto;
}